.user {
  flex: 4;
  padding: 20px;
  margin-top: 95px;
}

.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userAddButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  border: none;
  text-underline-position: under;
  text-decoration: underline;
  padding: 5px 15px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.userDeleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  border: none;
  padding: 5px 15px;
  background-color: rgb(225, 28, 28);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

@media (max-width: 768px) {
  .actionButtons {
    width: 100%;
    justify-content: space-between;
  }

  .user {
    padding: 0px;
    margin-top: 70px;
  }

}

.actionButtons {
  margin: 30px auto;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.userContainer {
  display: flex;
  margin: 15px;
  width: 100%;
}

.userShow {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.userUpdate {
  flex: 2;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.userShowTop {
  display: flex;
  align-items: center;
}

.userShowImg {
  color: var(--theme);
}

.userShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.userShowUsername {
  font-weight: 600;
}

.userShowUserTitle {
  font-weight: 300;
}

.userShowBottom {
  margin: 20px;
}

.userShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.userShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}

.userShowIcon {
  font-size: 16px !important;
}

.userShowInfoTitle {
  margin-left: 10px;
}

.userUpdateTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  padding: 20px 20px 20px 70px;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-decoration: underline;
  cursor: default;
}

.userUpdateForm {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.userUpdateItem {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.userUpdateItem>label {
  margin-bottom: 5px;
  font-size: 14px;
}

.userUpdateInput {
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid gray;
}

.userUpdateOption {
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid gray;
}

.userUpdateUpload {
  display: flex;
  align-items: center;
}

.userUpdateImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.userUpdateIcon {
  cursor: pointer;
}

.userUpdateButton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  width: 250px;
  height: 30px;
}